
  
body{
      margin: 0px;
      padding: 0px;
      background-color: thistle;
      font-family: arial, sans-serif;
      overflow-x: hidden;
    }
  
  .header{
    display: flex;
    justify-content: space-around;
  }

   .names{
     margin-top: 6em;
   } 

   .Greece{
      margin: 5em;
   }


   .city img{
     float: left;
     margin-right: 1em;
   }
   
   
  .foreign-lang{
    clear: both;
    margin: 3em;
  }
  .foreign-lang h2{
    margin-top: 5em;
  }
    table {
      border: 1px solid black;
     width: 70%;
     border-collapse: collapse; 
}


table tr, td, th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}
.historical-places{
  display: flex;
  font-size: small;
  margin: 3em;
}
.historical-places ul, li, h3{
    margin: 4px;
}
 .HP{
   margin: 3em;
 }
 
 a{
   background-color: chartreuse;
   color: greenyellow;
 }

 @media only screen and (max-width: 600px) {
   * {
     margin: 0;
     padding: 0;
   }
   .header {
     display: inline-block;
     width: 100%;
   }
   .header .names {
     float: right;
   }
   .header img {
     width: 100px;
     
   }
  }