
  
body{
      margin: 0px;
      padding: 0px;
      background-color: thistle;
    }
  .container .mountain{
    position: relative;
    float: right;
    bottom: 150px;
    width: 18%;
    height: 10%;
  }

  .header .h1{
    text-align: center;
  }
    
    table {
      position: relative;
      bottom: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}


td, th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}
.hitorical-places{
  display: flex;
  width: auto;
}
.hitorical-places ul, img {
  display: flex;
}
 

  
   