
  
body{
      margin: 0px;
      padding: 0px;
      background-color: thistle;
      font-family: arial, sans-serif;
      overflow-x: hidden;
    }
  
  .header{
    display: flex;
    justify-content: space-around;
  }

   .names{
     margin-top: 4em;
   } 

   .Greece{
      margin: 1em;
      overflow: hidden;
   }


   .city img{
     float: left;
     margin-right: 1em;
   }
   
   
  .foreign-lang{
    clear: both;
    margin: 1em;
  }
  .foreign-lang h2{
    margin-top: 2em;
  }
    table {
      border: 1px solid black;
     width: 70%;
     border-collapse: collapse; 
}


table tr, td, th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}
.historical-places{
  display: flex;
  font-size: small;
  margin: 1em;
}
.historical-places ul, li, h3{
    margin: 2px;
}
 .HP{
   margin: 1em;
 }
 
 a{
   background-color: chartreuse;
  color: blanchedalmond;
 }
footer{
 background-color: darkslategray;
 padding: 10px;
}
 @media only screen and (max-width: 600px) {
   * {
     margin: 0;
     padding: 0;
     overflow-x: hidden;
   }
   .header {
     display: inline-block;
     width: 100%;
   }
   .ul{
    width: 100%;
    overflow: hidden;
  }
   .header .names {
     float: right;
     margin: 2em;
   }
   .header img {
     width: 100px;
     margin: 2em;
     
   }
   .Greece img{
      width: 50%;
      float: none;
   }
   .Greece{
    font-size: 20px;
   }
   .historical-places{
      display: inline-block;
      margin-top: 1em;
     font-size: 20px;
   }
   table{
     width: 90%;
     font-size: 20px;
   }
  }